<div class="container">
	<h1 class="text-center">Editar Produto</h1>

	<div class="container">

	<%= render 'form', produto: @produto %>

	<%= link_to '<button type="button" class="btn btn-danger">Voltar</button>'.html_safe, produtos_path %>
	
	</div>
</div>